body {
    background: #202020;
    margin: 0 auto;
}

img {
    width: 100%;
}

* {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

header {
    position: fixed;
    background: #141414;
    text-align: center;
    width: 100%;
    color: white;
    font-family: 'Kumbh Sans', sans-serif;
}


#section_landing {
    height: 100vh;
}

#landing_columns .col {
    padding: 1vh 0;
}
